body {
    margin: 0;
    background-image: url("../imgs/fairy.jpg");
    /* background-image: url("https://images.unsplash.com/photo-1510218830377-2e994ea9087d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80");*/
    background-repeat: no-repeat;
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: white;
    font-size: 18px;
}

.click-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
    align-items: center;

}

.menu-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;


}

.boosts-container {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.click_count {
    color: white;
    font-weigh: bold;
    font-size: 36px;
}

.boosts-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.boost {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.boost p {
    margin: 0;
    padding: 0;

}

.auto {
    background: rebeccapurple;
    color: white;
}

.auto:disabled {
    color: slategray;
}

.click-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: fit-content;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.click-container img {
    height: 100%;
    transition: all .05s ease;
}