{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

</head>
<body>
    <a href="{% url 'logout' %}">logout</a>
    <div class="flex-center">
        <h1>CLICKER {{user.username}}</h1>
        <p class="click_count" id="counter">{{maincycle.click_count}}</p>
        <button onclick="call_click()">click me</button>
    </div>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>