{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body bgcolor="#d1f1ff">
    <main class="container">
        <aside class="menu-container">
            <h1>Hello, {{ user.username }}</h1>
            <a href="{% url 'logout' %}">logout</a>
        </aside>
        <div class="click-container">
            <p class="click_count">
                Coins: <span id="counter">{{ maincycle.click_count }}</span>
            </p>
            <button class="click-holder" onclick="call_click()">
                <img id="click-img" src="{% static 'imgs/magic.png' %}">
            </button>

            <p>
                Power: <span id="click_power">{{ maincycle.click_power }}</span>
            </p>
        </div>
        <aside class="boosts-container">
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost" onclick="buy_boost({{boost.id}})">
                        <p>lvl: {{boost.level}}</p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </aside>
    </main>
</body>
</html>